In [2]:
import pandas as pd

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv("airline_stats.csv", encoding = 'latin-1')

In [5]:
df.head()

   pct_carrier_delay  pct_atc_delay  pct_weather_delay   airline
0           8.153226       1.971774           0.762097  American
1           5.959924       3.706107           1.585878  American
2           7.157270       2.706231           2.026706  American
3          12.100000      11.033333           0.000000  American
4           7.333333       3.365591           1.774194  American

In [6]:
X = df.drop(columns=['airline'])

In [7]:
y = df['airline']

In [9]:
X.head()

   pct_carrier_delay  pct_atc_delay  pct_weather_delay
0           8.153226       1.971774           0.762097
1           5.959924       3.706107           1.585878
2           7.157270       2.706231           2.026706
3          12.100000      11.033333           0.000000
4           7.333333       3.365591           1.774194

In [21]:
y.describe()

count     33468
unique        6
top       Delta
freq       9107
Name: airline, dtype: object

# Split the train, test, validation dataset

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 11, test_size = 0.2)

In [15]:
X_train.shape

(26774, 3)

In [16]:
X_test.shape

(6694, 3)

In [19]:
y_train.shape

(26774,)

In [20]:
y_test.shape

(6694,)

In [23]:
y_test.describe

<bound method NDFrame.describe of 23831     American
16411    Southwest
30718       United
6824     Southwest
18207       United
           ...
13611    Southwest
4511         Delta
22973     Jet Blue
25483     Jet Blue
31056        Delta
Name: airline, Length: 6694, dtype: object>