In [2]:
import pandas as pd

In [3]:
df_train = pd.read_csv('california_housing_train.csv')
df_train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [4]:
df_test = pd.read_csv('california_housing_test.csv')
df_test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [5]:
df_train2 = df_train[['housing_median_age', 'population', 'median_house_value']]
df_train2.head()

   housing_median_age  population  median_house_value
0                15.0      1015.0             66900.0
1                19.0      1129.0             80100.0
2                17.0       333.0             85700.0
3                14.0       515.0             73400.0
4                20.0       624.0             65500.0

In [10]:
df_test2 = df_test[['housing_median_age', 'population', 'median_house_value']]
df_test2.head()

   housing_median_age  population  median_house_value
0                27.0      1537.0            344700.0
1                43.0       809.0            176500.0
2                27.0      1484.0            270500.0
3                28.0        49.0            330000.0
4                19.0       850.0             81700.0

In [7]:
train_df2_np = df_train2.to_numpy()
X_train, y_train = train_df2_np[:, :-1], train_df2_np[:, -1]
X_train.shape, y_train.shape

((17000, 2), (17000,))

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

linear_model = LinearRegression().fit(X_train, y_train)
linear_train_preds = linear_model.predict(X_train)
mean_absolute_error(linear_train_preds, y_train)

91064.44407843439

In [11]:
test_df2_np = df_test2.to_numpy()
X_test, y_test = test_df2_np[:, :-1], test_df2_np[:, -1]
X_test.shape, y_test.shape

((3000, 2), (3000,))

In [ ]:
linear_test_preds = linear_model.predict(X_test)
mean_absolute_error(linear_test_preds, y_test)

89391.632907449

In [12]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=10, max_depth=5).fit(X_train, y_train)
rf_train_preds = rf.predict(X_train)
rf_test_preds = rf.predict(X_test)
mean_absolute_error(rf_train_preds, y_train), mean_absolute_error(rf_test_preds, y_test)

(88948.43661886956, 88043.57232067933)

In [13]:
from sklearn.model_selection import train_test_split
X_val, X_hold, y_val, y_hold = train_test_split(X_test, y_test, test_size=0.5)
X_val.shape, X_hold.shape, y_val.shape, y_hold.shape

((1500, 2), (1500, 2), (1500,), (1500,))

In [14]:
linear_val_preds = linear_model.predict(X_val)
mean_absolute_error(y_train, linear_train_preds), mean_absolute_error(y_val, linear_val_preds)

(91064.44407843439, 88244.98628914524)

In [16]:
rf_val_preds = rf.predict(X_val)
mean_absolute_error(y_train, rf_train_preds), mean_absolute_error(y_val, rf_val_preds)

(88948.43661886956, 86722.43146256715)

In [17]:
rf_hold_preds = rf.predict(X_hold)
mean_absolute_error(y_hold, rf_hold_preds)

89364.7131787915